**/logs
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*.json
!package.json
!package-lock.json
!tsconfig.json
!**/Cargo.toml
deployer.json
treasury.json
authority.json
program-keypair.json

**/node_modules

**/dist
**/dist-ssr
*.local
.next/

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.*
packages\smart-contract\solana-release-x86_64-unknown-linux-gnu.tar.bz2
packages\backend\.env
!.env.example

__pycache__/
*.pyc
*.pyo
*.pyd
*env/
.venv/
venv/
env/

**/target/